<div class="container-fluid d-flex h-100 flex-column">
    <div class="row h-100  ">
        <div class="col  bg-primary text-center text-white">
            About this App
            <h3>La aplicación de figuras es un ejemplo de consulta en firebase con angular</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hexahedron1.svg/180px-Hexahedron1.svg.png" class="rounded mx-auto d-block" alt="Imagen Cuadro">
            <p>I SEMESTRE UNA 2019</p>
            <button class="btn btn-outline-dark" (click)="goTo('/secure/principal')"> Ir a Principal</button>
        </div>
    </div>

</div>