<div class="container-fluid d-flex h-100 flex-column">
    <div class="row h-100">
        <div class="col-4 bg-primary">
            <nav class="nav flex-column pt-3 height-75">
                <h3 class="nav-link text-white">Wellcome to Application</h3>
                <h2 class="nav-link text-white">Nervin Quesada</h2>                
            </nav>
            <nav class="nav flex-column pt-3 height-75" *ngIf="elementos$">
                <a class="nav-link text-white" [routerLink]="['/secure','element',item.nombre]" routerLinkActive="text-bold" *ngFor="let item of (elementos$| async)">{{item.nombre}}</a>
                </nav>
                <nav class="nav flex-column height-75" *ngIf="!elementos$">
                <span class="nav-link text-white"> <i class="fa fa-info-circle" aria-hidden="true"> </i> No hay items</span>
            </nav>

            <nav class="nav flex-column pt-3 height-75">
                <button class="btn btn-outline-dark ml-3" (click)="goTo('/about-us')">Logout</button>
                <a class="nav-link text-white" (click)="goTo('/about-us')">About Us</a>                
            </nav>
        </div>
        <div class="col-8  bg-light border border-primary">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
    
